@charset "UTF-8";
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px; }

@font-face {
  font-family: "icon";
  src: url("../fonts/Icon/icon.eot?7h9xfl");
  src: url("../fonts/Icon/icon.eot?7h9xfl#iefix") format("embedded-opentype"), url("../fonts/Icon/icon.ttf?7h9xfl") format("truetype"), url("../fonts/Icon/icon.woff?7h9xfl") format("woff"), url("../fonts/Icon/icon.svg?7h9xfl#icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-power:before {
  content: ""; }

.icon-apple-pencil:before {
  content: ""; }

.icon-adapter:before {
  content: ""; }

.icon-headphone-2:before {
  content: ""; }

.icon-info:before {
  content: ""; }

.icon-icon-check-new:before {
  content: ""; }

.icon-icon-exclamation:before {
  content: ""; }

.icon-icon-360:before {
  content: ""; }

.icon-icon-antutu:before {
  content: ""; }

.icon-icon-bluetooth:before {
  content: ""; }

.icon-icon-box:before {
  content: ""; }

.icon-icon-cam:before {
  content: ""; }

.icon-icon-cancel:before {
  content: ""; }

.icon-icon-close:before {
  content: ""; }

.icon-icon-download:before {
  content: ""; }

.icon-icon-expand:before {
  content: ""; }

.icon-icon-fast-shipping:before {
  content: ""; }

.icon-icon-front-camera:before {
  content: ""; }

.icon-icon-local-shipping:before {
  content: ""; }

.icon-icon-minimize:before {
  content: ""; }

.icon-icon-pause:before {
  content: ""; }

.icon-icon-photo:before {
  content: ""; }

.icon-icon-play:before {
  content: ""; }

.icon-icon-power-bank:before {
  content: ""; }

.icon-icon-zoom-in:before {
  content: ""; }

.icon-icon-zoom-out:before {
  content: ""; }

.icon-Selfie:before {
  content: ""; }

.icon-apple-tv:before {
  content: ""; }

.icon-connect:before {
  content: ""; }

.icon-bluetooth:before {
  content: ""; }

.icon-compatible-devices:before {
  content: ""; }

.icon-material:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-guarantee-time:before {
  content: ""; }

.icon-swatch-material:before {
  content: ""; }

.icon-air-purifier:before {
  content: ""; }

.icon-boiler:before {
  content: ""; }

.icon-power-bank:before {
  content: ""; }

.icon-power-socket-2:before {
  content: ""; }

.icon-power-socket:before {
  content: ""; }

.icon-router:before {
  content: ""; }

.icon-scales:before {
  content: ""; }

.icon-security-camera:before {
  content: ""; }

.icon-vacuum:before {
  content: ""; }

.icon-video:before {
  content: ""; }

.icon-display:before {
  content: ""; }

.icon-a-imac:before {
  content: ""; }

.icon-laptop-gaming:before {
  content: ""; }

.icon-a-macbook:before {
  content: ""; }

.icon-laptop:before {
  content: ""; }

.icon-tablet:before {
  content: ""; }

.icon-a-ipad:before {
  content: ""; }

.icon-a-iphone:before {
  content: ""; }

.icon-mobile:before {
  content: ""; }

.icon-a-watch:before {
  content: ""; }

.icon-screen-size:before {
  content: ""; }

.icon-weight:before {
  content: ""; }

.icon-mouse-pad:before {
  content: ""; }

.icon-mouse:before {
  content: ""; }

.icon-a-mouse:before {
  content: ""; }

.icon-screenprotect:before {
  content: ""; }

.icon-cover:before {
  content: ""; }

.icon-sdcard:before {
  content: ""; }

.icon-battery-charge:before {
  content: ""; }

.icon-battery-full:before {
  content: ""; }

.icon-battery:before {
  content: ""; }

.icon-speaker:before {
  content: ""; }

.icon-phonecard:before {
  content: ""; }

.icon-keyboard:before {
  content: ""; }

.icon-a-keyboard:before {
  content: ""; }

.icon-a-power:before {
  content: ""; }

.icon-a-cable:before {
  content: ""; }

.icon-cable:before {
  content: ""; }

.icon-a-cover:before {
  content: ""; }

.icon-bag:before {
  content: ""; }

.icon-Combined-Shape:before {
  content: ""; }

.icon-headphone:before {
  content: ""; }

.icon-supp:before {
  content: ""; }

.icon-hotsale:before {
  content: ""; }

.icon-cpu:before {
  content: "!"; }

.icon-clock:before {
  content: '"'; }

.icon-watch:before {
  content: "#"; }

.icon-new:before {
  content: "$"; }

.icon-trending:before {
  content: "%"; }

.icon-angle-double-left:before {
  content: "&"; }

.icon-angle-double-right:before {
  content: "'"; }

.icon-angle-double-up:before {
  content: "("; }

.icon-angle-double-down:before {
  content: ")"; }

.icon-right-open-big:before {
  content: ""; }

.icon-up-open-big:before {
  content: ""; }

.icon-left-open-big:before {
  content: ""; }

.icon-down-open-big:before {
  content: ""; }

.icon-down-dir:before {
  content: ""; }

.icon-up-dir:before {
  content: ""; }

.icon-left-dir:before {
  content: ""; }

.icon-right-dir:before {
  content: ""; }

.icon-star-empty:before {
  content: ""; }

.icon-star-half:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-right-thin:before {
  content: ""; }

.icon-left-thin:before {
  content: ""; }

.icon-down-thin:before {
  content: ""; }

.icon-angle-left:before {
  content: ""; }

.icon-angle-right:before {
  content: ""; }

.icon-angle-up:before {
  content: ""; }

.icon-angle-down:before {
  content: ""; }

.icon-map:before {
  content: ""; }

.icon-map-o:before {
  content: ""; }

.icon-arrow-combo:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-cancel:before {
  content: ""; }

.icon-plus-squared:before {
  content: ""; }

.icon-minus-squared:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-heart-empty:before {
  content: ""; }

.icon-cancel-circled:before {
  content: ""; }

.icon-minus-circled:before {
  content: ""; }

.icon-plus-circled:before {
  content: ""; }

.icon-ok-circled:before {
  content: ""; }

.icon-help-circled:before {
  content: ""; }

.icon-info-circled:before {
  content: ""; }

.icon-reply:before {
  content: ""; }

.icon-reply-all:before {
  content: ""; }

.icon-export:before {
  content: ""; }

.icon-login:before {
  content: ""; }

.icon-chat:before {
  content: ""; }

.icon-thumbs-up:before {
  content: ""; }

.icon-renew:before {
  content: ""; }

.icon-spin:before {
  content: ""; }

.icon-reload:before {
  content: ""; }

.icon-ccw:before {
  content: ""; }

.icon-secondhand:before {
  content: ""; }

.icon-lightbulb:before {
  content: ""; }

.icon-electric:before {
  content: ""; }

.icon-doc:before {
  content: ""; }

.icon-document:before {
  content: ""; }

.icon-layout:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-dot:before {
  content: ""; }

.icon-mail-alt:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-cam:before {
  content: ""; }

.icon-picture:before {
  content: ""; }

.icon-check:before {
  content: ""; }

.icon-call:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-tv:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-card:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-megaphone:before {
  content: ""; }

.icon-hdd-black:before {
  content: ""; }

.icon-drive:before {
  content: ""; }

.icon-printer-ink:before {
  content: ""; }

.icon-promo:before {
  content: ""; }

.icon-face:before {
  content: ""; }

.icon-sd-card:before {
  content: ""; }

.icon-movie:before {
  content: ""; }

.icon-quote:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-basket:before {
  content: ""; }

.icon-save:before {
  content: ""; }

.icon-apple:before {
  content: ""; }

.icon-windows:before {
  content: ""; }

.icon-ffriend:before {
  content: ""; }

.icon-ffriend-min:before {
  content: ""; }

.icon-tags:before {
  content: ""; }

.icon-tag:before {
  content: ""; }

.icon-glasses:before {
  content: ""; }

.icon-tryon:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-users:before {
  content: ""; }

.icon-gift:before {
  content: ""; }

.icon-game:before {
  content: ""; }

.icon-machine:before {
  content: ""; }

.icon-internet:before {
  content: ""; }

.icon-water:before {
  content: ""; }

.icon-we:before {
  content: ""; }

.icon-fado:before {
  content: ""; }

.icon-sim:before {
  content: ""; }

.icon-software:before {
  content: ""; }

.icon-print:before {
  content: ""; }

.icon-emo-happy:before {
  content: ""; }

.icon-crown:before {
  content: ""; }

.icon-download:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-vga:before {
  content: ""; }

.icon-trophy:before {
  content: ""; }

.icon-send:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-flash:before {
  content: ""; }

.icon-phone-squared:before {
  content: ""; }

.icon-hdd:before {
  content: ""; }

.icon-filter:before {
  content: ""; }

.icon-star-half-alt:before {
  content: ""; }

.icon-android:before {
  content: ""; }

.icon-trash-empty:before {
  content: ""; }

.icon-trash:before {
  content: ""; }

.icon-ram:before {
  content: ""; }

.icon-camera:before {
  content: "📷"; }

.icon-edit-3:before {
  content: ""; }

.icon-th-list:before {
  content: ""; }

.icon-th:before {
  content: ""; }

.icon-cog:before {
  content: ""; }

.icon-gear:before {
  content: ""; }

.icon-cogs:before {
  content: ""; }

.icon-gears:before {
  content: ""; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.eot");
  src: url("../fonts/Roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Black.eot");
  src: url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
b,
i {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img,
object,
embed {
  max-width: 100%; }

ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input,
select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type='radio'] {
  vertical-align: text-bottom; }

input[type='checkbox'] {
  vertical-align: bottom; }

.ie7 input[type='checkbox'] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select,
input,
textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td,
td {
  vertical-align: top; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif; }

.clickable,
label,
input[type='button'],
input[type='submit'],
input[type='file'],
button {
  cursor: pointer; }

button,
input,
select,
textarea {
  margin: 0; }

button,
input[type='button'] {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

img {
  vertical-align: middle; }

body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3; }

a {
  color: #0664f9;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

.container {
  width: 75rem;
  padding-top: 3rem;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > .col10,
  .no-gutters > [class*='col-'],
  .no-gutters > [class*='col10-'] {
    padding-right: 0;
    padding-left: 0; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 12px; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media (max-width: 1400px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 12px; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 1200px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 12px; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media (max-width: 992px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 12px; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 500;
  color: #212529; }

h1 {
  font-size: 32px;
  line-height: 40px; }

h2 {
  font-size: 24px;
  line-height: 32px; }

h3 {
  font-size: 16px;
  line-height: 20px; }

h4,
h5,
h6 {
  font-size: 14px;
  line-height: 20px; }

p,
.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

code {
  font-size: 87.5%;
  color: #cb1c22;
  word-break: break-word; }

.f-w-400 {
  font-weight: 400; }

.f-w-500 {
  font-weight: 500; }

.f-w-700 {
  font-weight: 700; }

.f-s-p-44 {
  font-size: 44px;
  line-height: 60px; }

.f-s-p-36 {
  font-size: 36px;
  line-height: 48px; }

.f-s-p-32 {
  font-size: 32px;
  line-height: 40px; }

.f-s-p-28 {
  font-size: 28px;
  line-height: 36px; }

.f-s-p-24 {
  font-size: 24px;
  line-height: 32px; }

.f-s-p-20 {
  font-size: 20px;
  line-height: 28px; }

.f-s-p-18 {
  font-size: 18px;
  line-height: 24px; }

.f-s-p-16 {
  font-size: 16px;
  line-height: 24px; }

.f-s-p-15 {
  font-size: 15px;
  line-height: 20px; }

.f-s-p-14 {
  font-size: 14px;
  line-height: 20px; }

.f-s-p-13 {
  font-size: 13px;
  line-height: 18px; }

.f-s-p-12 {
  font-size: 12px;
  line-height: 16px; }

.f-s-ui-44 {
  font-size: 44px;
  line-height: 44px; }

.f-s-ui-36 {
  font-size: 36px;
  line-height: 36px; }

.f-s-ui-32 {
  font-size: 32px;
  line-height: 32px; }

.f-s-ui-28 {
  font-size: 28px;
  line-height: 28px; }

.f-s-ui-24 {
  font-size: 24px;
  line-height: 24px; }

.f-s-ui-20 {
  font-size: 20px;
  line-height: 20px; }

.f-s-ui-18 {
  font-size: 18px;
  line-height: 18px; }

.f-s-ui-16 {
  font-size: 16px;
  line-height: 16px; }

.f-s-ui-15 {
  font-size: 15px;
  line-height: 15px; }

.f-s-ui-14 {
  font-size: 14px;
  line-height: 14px; }

.f-s-ui-13 {
  font-size: 13px;
  line-height: 13px; }

.f-s-ui-12 {
  font-size: 12px;
  line-height: 12px; }

.b-t-100 {
  box-shadow: 0px 1px 0px #edeeef inset; }

.b-t-200 {
  box-shadow: 0px 1px 0px #e1e4e6 inset; }

.b-t-300 {
  box-shadow: 0px 1px 0px #cbd1d6 inset; }

.b-t-400 {
  box-shadow: 0px 1px 0px #939ca3 inset; }

.b-t-500 {
  box-shadow: 0px 1px 0px #6a737a inset; }

.b-t-600 {
  box-shadow: 0px 1px 0px #444b52 inset; }

.b-t-700 {
  box-shadow: 0px 1px 0px #32373d inset; }

.b-t-800 {
  box-shadow: 0px 1px 0px #212529 inset; }

.b-l-100 {
  box-shadow: 1px 0px 0px #edeeef inset; }

.b-l-200 {
  box-shadow: 1px 0px 0px #e1e4e6 inset; }

.b-l-300 {
  box-shadow: 1px 0px 0px #cbd1d6 inset; }

.b-l-400 {
  box-shadow: 1px 0px 0px #939ca3 inset; }

.b-l-500 {
  box-shadow: 1px 0px 0px #6a737a inset; }

.b-l-600 {
  box-shadow: 1px 0px 0px #444b52 inset; }

.b-l-700 {
  box-shadow: 1px 0px 0px #32373d inset; }

.b-l-800 {
  box-shadow: 1px 0px 0px #212529 inset; }

.b-r-100 {
  box-shadow: -1px 0px 0px #edeeef inset; }

.b-r-200 {
  box-shadow: -1px 0px 0px #e1e4e6 inset; }

.b-r-300 {
  box-shadow: -1px 0px 0px #cbd1d6 inset; }

.b-r-400 {
  box-shadow: -1px 0px 0px #939ca3 inset; }

.b-r-500 {
  box-shadow: -1px 0px 0px #6a737a inset; }

.b-r-600 {
  box-shadow: -1px 0px 0px #444b52 inset; }

.b-r-700 {
  box-shadow: -1px 0px 0px #32373d inset; }

.b-r-800 {
  box-shadow: -1px 0px 0px #212529 inset; }

.b-b-100 {
  box-shadow: 0px -1px 0px #edeeef inset; }

.b-b-200 {
  box-shadow: 0px -1px 0px #e1e4e6 inset; }

.b-b-300 {
  box-shadow: 0px -1px 0px #cbd1d6 inset; }

.b-b-400 {
  box-shadow: 0px -1px 0px #939ca3 inset; }

.b-b-500 {
  box-shadow: 0px -1px 0px #6a737a inset; }

.b-b-600 {
  box-shadow: 0px -1px 0px #444b52 inset; }

.b-b-700 {
  box-shadow: 0px -1px 0px #32373d inset; }

.b-b-800 {
  box-shadow: 0px -1px 0px #212529 inset; }

.b-x-100 {
  box-shadow: inset 0px 1px 0px #edeeef, inset 0px -1px 0px #edeeef; }

.b-x-200 {
  box-shadow: inset 0px 1px 0px #e1e4e6, inset 0px -1px 0px #e1e4e6; }

.b-x-300 {
  box-shadow: inset 0px 1px 0px #cbd1d6, inset 0px -1px 0px #cbd1d6; }

.b-x-400 {
  box-shadow: inset 0px 1px 0px #939ca3, inset 0px -1px 0px #939ca3; }

.b-x-500 {
  box-shadow: inset 0px 1px 0px #6a737a, inset 0px -1px 0px #6a737a; }

.b-x-600 {
  box-shadow: inset 0px 1px 0px #444b52, inset 0px -1px 0px #444b52; }

.b-x-700 {
  box-shadow: inset 0px 1px 0px #32373d, inset 0px -1px 0px #32373d; }

.b-x-800 {
  box-shadow: inset 0px 1px 0px #212529, inset 0px -1px 0px #212529; }

.b-y-100 {
  box-shadow: inset -1px 0px 0px #edeeef, inset 1px 0px 0px #edeeef; }

.b-y-200 {
  box-shadow: inset -1px 0px 0px #e1e4e6, inset 1px 0px 0px #e1e4e6; }

.b-y-300 {
  box-shadow: inset -1px 0px 0px #cbd1d6, inset 1px 0px 0px #cbd1d6; }

.b-y-400 {
  box-shadow: inset -1px 0px 0px #939ca3, inset 1px 0px 0px #939ca3; }

.b-y-500 {
  box-shadow: inset -1px 0px 0px #6a737a, inset 1px 0px 0px #6a737a; }

.b-y-600 {
  box-shadow: inset -1px 0px 0px #444b52, inset 1px 0px 0px #444b52; }

.b-y-700 {
  box-shadow: inset -1px 0px 0px #32373d, inset 1px 0px 0px #32373d; }

.b-y-800 {
  box-shadow: inset -1px 0px 0px #212529, inset 1px 0px 0px #212529; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-primary {
  color: #cb1c22; }

a.text-primary {
  color: #cb1c22;
  position: relative;
  display: inline-block; }
  a.text-primary:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #cb1c22;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-primary:hover:before {
    transform: scaleX(1); }

.text-link {
  color: #0664f9; }

a.text-link {
  color: #0664f9;
  position: relative;
  display: inline-block; }
  a.text-link:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #0664f9;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-link:hover:before {
    transform: scaleX(1); }

.text-grayscale {
  color: #939ca3; }

a.text-grayscale {
  color: #939ca3;
  position: relative;
  display: inline-block; }
  a.text-grayscale:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #939ca3;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-grayscale:hover:before {
    transform: scaleX(1); }

.text-success {
  color: #48bb78; }

a.text-success {
  color: #48bb78;
  position: relative;
  display: inline-block; }
  a.text-success:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #48bb78;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-success:hover:before {
    transform: scaleX(1); }

.text-info {
  color: #4299e1; }

a.text-info {
  color: #4299e1;
  position: relative;
  display: inline-block; }
  a.text-info:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #4299e1;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-info:hover:before {
    transform: scaleX(1); }

.text-warning {
  color: #e0b43a; }

a.text-warning {
  color: #e0b43a;
  position: relative;
  display: inline-block; }
  a.text-warning:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #e0b43a;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-warning:hover:before {
    transform: scaleX(1); }

.text-danger {
  color: #f56f65; }

a.text-danger {
  color: #f56f65;
  position: relative;
  display: inline-block; }
  a.text-danger:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #f56f65;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
  a.text-danger:hover:before {
    transform: scaleX(1); }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.bg-primary {
  background-color: #cb1c22; }

.bg-link {
  background-color: #0664f9; }

.bg-grayscale {
  background-color: #939ca3; }

.bg-success {
  background-color: #48bb78; }

.bg-info {
  background-color: #4299e1; }

.bg-warning {
  background-color: #e0b43a; }

.bg-danger {
  background-color: #f56f65; }

.p-l-2 {
  padding-left: 2px; }

.p-l-4 {
  padding-left: 4px; }

.p-l-8 {
  padding-left: 8px; }

.p-l-12 {
  padding-left: 12px; }

.p-l-16 {
  padding-left: 16px; }

.p-l-24 {
  padding-left: 24px; }

.p-l-32 {
  padding-left: 32px; }

.p-l-40 {
  padding-left: 40px; }

.p-l-48 {
  padding-left: 48px; }

.p-l-64 {
  padding-left: 64px; }

.p-r-2 {
  padding-right: 2px; }

.p-r-4 {
  padding-right: 4px; }

.p-r-8 {
  padding-right: 8px; }

.p-r-12 {
  padding-right: 12px; }

.p-r-16 {
  padding-right: 16px; }

.p-r-24 {
  padding-right: 24px; }

.p-r-32 {
  padding-right: 32px; }

.p-r-40 {
  padding-right: 40px; }

.p-r-48 {
  padding-right: 48px; }

.p-r-64 {
  padding-right: 64px; }

.p-b-2 {
  padding-bottom: 2px; }

.p-b-4 {
  padding-bottom: 4px; }

.p-b-8 {
  padding-bottom: 8px; }

.p-b-12 {
  padding-bottom: 12px; }

.p-b-16 {
  padding-bottom: 16px; }

.p-b-24 {
  padding-bottom: 24px; }

.p-b-32 {
  padding-bottom: 32px; }

.p-b-40 {
  padding-bottom: 40px; }

.p-b-48 {
  padding-bottom: 48px; }

.p-b-64 {
  padding-bottom: 64px; }

.p-t-2 {
  padding-top: 2px; }

.p-t-4 {
  padding-top: 4px; }

.p-t-8 {
  padding-top: 8px; }

.p-t-12 {
  padding-top: 12px; }

.p-t-16 {
  padding-top: 16px; }

.p-t-24 {
  padding-top: 24px; }

.p-t-32 {
  padding-top: 32px; }

.p-t-40 {
  padding-top: 40px; }

.p-t-48 {
  padding-top: 48px; }

.p-t-64 {
  padding-top: 64px; }

.m-l-2 {
  margin-left: 2px; }

.m-l-4 {
  margin-left: 4px; }

.m-l-8 {
  margin-left: 8px; }

.m-l-12 {
  margin-left: 12px; }

.m-l-16 {
  margin-left: 16px; }

.m-l-24 {
  margin-left: 24px; }

.m-l-32 {
  margin-left: 32px; }

.m-l-40 {
  margin-left: 40px; }

.m-l-48 {
  margin-left: 48px; }

.m-l-64 {
  margin-left: 64px; }

.m-r-2 {
  margin-right: 2px; }

.m-r-4 {
  margin-right: 4px; }

.m-r-8 {
  margin-right: 8px; }

.m-r-12 {
  margin-right: 12px; }

.m-r-16 {
  margin-right: 16px; }

.m-r-24 {
  margin-right: 24px; }

.m-r-32 {
  margin-right: 32px; }

.m-r-40 {
  margin-right: 40px; }

.m-r-48 {
  margin-right: 48px; }

.m-r-64 {
  margin-right: 64px; }

.m-b-2 {
  margin-bottom: 2px; }

.m-b-4 {
  margin-bottom: 4px; }

.m-b-8 {
  margin-bottom: 8px; }

.m-b-12 {
  margin-bottom: 12px; }

.m-b-16 {
  margin-bottom: 16px; }

.m-b-24 {
  margin-bottom: 24px; }

.m-b-32 {
  margin-bottom: 32px; }

.m-b-40 {
  margin-bottom: 40px; }

.m-b-48 {
  margin-bottom: 48px; }

.m-b-64 {
  margin-bottom: 64px; }

.m-t-2 {
  margin-top: 2px; }

.m-t-4 {
  margin-top: 4px; }

.m-t-8 {
  margin-top: 8px; }

.m-t-12 {
  margin-top: 12px; }

.m-t-16 {
  margin-top: 16px; }

.m-t-24 {
  margin-top: 24px; }

.m-t-32 {
  margin-top: 32px; }

.m-t-40 {
  margin-top: 40px; }

.m-t-48 {
  margin-top: 48px; }

.m-t-64 {
  margin-top: 64px; }

.p-x-2 {
  padding-left: 2px;
  padding-right: 2px; }

.p-x-4 {
  padding-left: 4px;
  padding-right: 4px; }

.p-x-8 {
  padding-left: 8px;
  padding-right: 8px; }

.p-x-12 {
  padding-left: 12px;
  padding-right: 12px; }

.p-x-16 {
  padding-left: 16px;
  padding-right: 16px; }

.p-x-24 {
  padding-left: 24px;
  padding-right: 24px; }

.p-y-2 {
  padding-left: 2px;
  padding-right: 2px; }

.p-y-4 {
  padding-left: 4px;
  padding-right: 4px; }

.p-y-8 {
  padding-left: 8px;
  padding-right: 8px; }

.p-y-12 {
  padding-left: 12px;
  padding-right: 12px; }

.p-y-16 {
  padding-left: 16px;
  padding-right: 16px; }

.p-y-24 {
  padding-left: 24px;
  padding-right: 24px; }

.m-x-2 {
  margin-left: 2px;
  margin-right: 2px; }

.m-x-4 {
  margin-left: 4px;
  margin-right: 4px; }

.m-x-8 {
  margin-left: 8px;
  margin-right: 8px; }

.m-x-12 {
  margin-left: 12px;
  margin-right: 12px; }

.m-x-16 {
  margin-left: 16px;
  margin-right: 16px; }

.m-x-24 {
  margin-left: 24px;
  margin-right: 24px; }

.m-y-2 {
  margin-left: 2px;
  margin-right: 2px; }

.m-y-4 {
  margin-left: 4px;
  margin-right: 4px; }

.m-y-8 {
  margin-left: 8px;
  margin-right: 8px; }

.m-y-12 {
  margin-left: 12px;
  margin-right: 12px; }

.m-y-16 {
  margin-left: 16px;
  margin-right: 16px; }

.m-y-24 {
  margin-left: 24px;
  margin-right: 24px; }
