@import '_icon-variables';

@font-face {
	font-family: '#{$font-icon-family}';
	src: url('../fonts/#{$font-icon-path}/#{$font-icon-family}.eot?7h9xfl');
	src: url('../fonts/#{$font-icon-path}/#{$font-icon-family}.eot?7h9xfl#iefix') format('embedded-opentype'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-family}.ttf?7h9xfl') format('truetype'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-family}.woff?7h9xfl') format('woff'),
		url('../fonts/#{$font-icon-path}/#{$font-icon-family}.svg?7h9xfl##{$font-icon-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^='ic-'],
[class*=' ic-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$font-icon-family}' !important;
	speak: never;
	font-style: normal;
	font-weight: normal; 
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ic-360 {
	&:before {
	  content: $ic-360; 
	}
 }
 .ic-a-watch {
	&:before {
	  content: $ic-a-watch; 
	}
 }
 .ic-adapter {
	&:before {
	  content: $ic-adapter; 
	}
 }
 .ic-air-purifier {
	&:before {
	  content: $ic-air-purifier; 
	}
 }
 .ic-android {
	&:before {
	  content: $ic-android; 
	}
 }
 .ic-angle-double-down {
	&:before {
	  content: $ic-angle-double-down; 
	}
 }
 .ic-angle-double-left {
	&:before {
	  content: $ic-angle-double-left; 
	}
 }
 .ic-angle-double-right {
	&:before {
	  content: $ic-angle-double-right; 
	}
 }
 .ic-angle-double-up {
	&:before {
	  content: $ic-angle-double-up; 
	}
 }
 .ic-angle-down-thin {
	&:before {
	  content: $ic-angle-down-thin; 
	}
 }
 .ic-angle-down {
	&:before {
	  content: $ic-angle-down; 
	}
 }
 .ic-angle-left-thin {
	&:before {
	  content: $ic-angle-left-thin; 
	}
 }
 .ic-angle-left {
	&:before {
	  content: $ic-angle-left; 
	}
 }
 .ic-angle-right-thin {
	&:before {
	  content: $ic-angle-right-thin; 
	}
 }
 .ic-angle-right {
	&:before {
	  content: $ic-angle-right; 
	}
 }
 .ic-angle-up-thin {
	&:before {
	  content: $ic-angle-up-thin; 
	}
 }
 .ic-angle-up {
	&:before {
	  content: $ic-angle-up; 
	}
 }
 .ic-antutu {
	&:before {
	  content: $ic-antutu; 
	}
 }
 .ic-apple-cable {
	&:before {
	  content: $ic-apple-cable; 
	}
 }
 .ic-apple-cover-1 {
	&:before {
	  content: $ic-apple-cover-1; 
	}
 }
 .ic-apple-cover {
	&:before {
	  content: $ic-apple-cover; 
	}
 }
 .ic-apple-imac {
	&:before {
	  content: $ic-apple-imac; 
	}
 }
 .ic-apple-ipad {
	&:before {
	  content: $ic-apple-ipad; 
	}
 }
 .ic-apple-iphone {
	&:before {
	  content: $ic-apple-iphone; 
	}
 }
 .ic-apple-keyboard {
	&:before {
	  content: $ic-apple-keyboard; 
	}
 }
 .ic-apple-macbook {
	&:before {
	  content: $ic-apple-macbook; 
	}
 }
 .ic-apple-mouse {
	&:before {
	  content: $ic-apple-mouse; 
	}
 }
 .ic-apple-power {
	&:before {
	  content: $ic-apple-power; 
	}
 }
 .ic-apple-tv {
	&:before {
	  content: $ic-apple-tv; 
	}
 }
 .ic-apple-watch {
	&:before {
	  content: $ic-apple-watch; 
	}
 }
 .ic-apple {
	&:before {
	  content: $ic-apple; 
	}
 }
 .ic-arrow-select {
	&:before {
	  content: $ic-arrow-select; 
	}
 }
 .ic-bag {
	&:before {
	  content: $ic-bag; 
	}
 }
 .ic-battery-charge {
	&:before {
	  content: $ic-battery-charge; 
	}
 }
 .ic-battery-full {
	&:before {
	  content: $ic-battery-full; 
	}
 }
 .ic-battery {
	&:before {
	  content: $ic-battery; 
	}
 }
 .ic-bluetooth {
	&:before {
	  content: $ic-bluetooth; 
	}
 }
 .ic-boiler {
	&:before {
	  content: $ic-boiler; 
	}
 }
 .ic-book {
	&:before {
	  content: $ic-book; 
	}
 }
 .ic-box {
	&:before {
	  content: $ic-box; 
	}
 }
 .ic-cable {
	&:before {
	  content: $ic-cable; 
	}
 }
 .ic-calendar {
	&:before {
	  content: $ic-calendar; 
	}
 }
 .ic-call {
	&:before {
	  content: $ic-call; 
	}
 }
 .ic-cam {
	&:before {
	  content: $ic-cam; 
	}
 }
 .ic-camera {
	&:before {
	  content: $ic-camera; 
	}
 }
 .ic-cancel {
	&:before {
	  content: $ic-cancel; 
	}
 }
 .ic-card {
	&:before {
	  content: $ic-card; 
	}
 }
 .ic-cart-refresh .path1 {
	&:before {
	  content: $ic-cart-refresh-path1;  
	  color: rgb(0, 0, 0);
	}
 }
 .ic-cart-refresh .path2 {
	&:before {
	  content: $ic-cart-refresh-path2;  
	  margin-left: -0.94140625em;  
	  color: rgb(255, 255, 255);
	}
 }
 .ic-cart-refresh .path3 {
	&:before {
	  content: $ic-cart-refresh-path3;  
	  margin-left: -0.94140625em;  
	  color: rgb(255, 255, 255);
	}
 }
 .ic-cart {
	&:before {
	  content: $ic-cart; 
	}
 }
 .ic-chat {
	&:before {
	  content: $ic-chat; 
	}
 }
 .ic-check {
	&:before {
	  content: $ic-check; 
	}
 }
 .ic-circle-lg {
	&:before {
	  content: $ic-circle-lg; 
	}
 }
 .ic-circle-md {
	&:before {
	  content: $ic-circle-md; 
	}
 }
 .ic-circle-sm {
	&:before {
	  content: $ic-circle-sm; 
	}
 }
 .ic-clock {
	&:before {
	  content: $ic-clock; 
	}
 }
 .ic-close {
	&:before {
	  content: $ic-close; 
	}
 }
 .ic-cog {
	&:before {
	  content: $ic-cog; 
	}
 }
 .ic-cogs {
	&:before {
	  content: $ic-cogs; 
	}
 }
 .ic-combined-shape {
	&:before {
	  content: $ic-combined-shape; 
	}
 }
 .ic-compatible-devices {
	&:before {
	  content: $ic-compatible-devices; 
	}
 }
 .ic-connect {
	&:before {
	  content: $ic-connect; 
	}
 }
 .ic-cover {
	&:before {
	  content: $ic-cover; 
	}
 }
 .ic-cpu {
	&:before {
	  content: $ic-cpu; 
	}
 }
 .ic-crown {
	&:before {
	  content: $ic-crown; 
	}
 }
 .ic-display {
	&:before {
	  content: $ic-display; 
	}
 }
 .ic-doc {
	&:before {
	  content: $ic-doc; 
	}
 }
 .ic-down-min {
	&:before {
	  content: $ic-down-min; 
	}
 }
 .ic-down-thin {
	&:before {
	  content: $ic-down-thin; 
	}
 }
 .ic-down {
	&:before {
	  content: $ic-down; 
	}
 }
 .ic-download {
	&:before {
	  content: $ic-download; 
	}
 }
 .ic-drive {
	&:before {
	  content: $ic-drive; 
	}
 }
 .ic-edit-3 {
	&:before {
	  content: $ic-edit-3; 
	}
 }
 .ic-edit {
	&:before {
	  content: $ic-edit; 
	}
 }
 .ic-emo-happy {
	&:before {
	  content: $ic-emo-happy; 
	}
 }
 .ic-exclamation {
	&:before {
	  content: $ic-exclamation; 
	}
 }
 .ic-expand {
	&:before {
	  content: $ic-expand; 
	}
 }
 .ic-export {
	&:before {
	  content: $ic-export; 
	}
 }
 .ic-eye {
	&:before {
	  content: $ic-eye; 
	}
 }
 .ic-face {
	&:before {
	  content: $ic-face; 
	}
 }
 .ic-fado {
	&:before {
	  content: $ic-fado; 
	}
 }
 .ic-fast-shipping {
	&:before {
	  content: $ic-fast-shipping; 
	}
 }
 .ic-ffriend {
	&:before {
	  content: $ic-ffriend; 
	}
 }
 .ic-filter {
	&:before {
	  content: $ic-filter; 
	}
 }
 .ic-flash {
	&:before {
	  content: $ic-flash; 
	}
 }
 .ic-front-camera {
	&:before {
	  content: $ic-front-camera; 
	}
 }
 .ic-game {
	&:before {
	  content: $ic-game; 
	}
 }
 .ic-gift {
	&:before {
	  content: $ic-gift; 
	}
 }
 .ic-glasses {
	&:before {
	  content: $ic-glasses; 
	}
 }
 .ic-guarantee-time {
	&:before {
	  content: $ic-guarantee-time; 
	}
 }
 .ic-hairdryer {
	&:before {
	  content: $ic-hairdryer; 
	}
 }
 .ic-hdd-black {
	&:before {
	  content: $ic-hdd-black; 
	}
 }
 .ic-hdd {
	&:before {
	  content: $ic-hdd; 
	}
 }
 .ic-headphone {
	&:before {
	  content: $ic-headphone; 
	}
 }
 .ic-heart-o {
	&:before {
	  content: $ic-heart-o; 
	}
 }
 .ic-heart {
	&:before {
	  content: $ic-heart; 
	}
 }
 .ic-help {
	&:before {
	  content: $ic-help; 
	}
 }
 .ic-home {
	&:before {
	  content: $ic-home; 
	}
 }
 .ic-hotsale {
	&:before {
	  content: $ic-hotsale; 
	}
 }
 .ic-hub {
	&:before {
	  content: $ic-hub; 
	}
 }
 .ic-humidity-2 {
	&:before {
	  content: $ic-humidity-2; 
	}
 }
 .ic-humidity {
	&:before {
	  content: $ic-humidity; 
	}
 }
 .ic-info {
	&:before {
	  content: $ic-info; 
	}
 }
 .ic-internet {
	&:before {
	  content: $ic-internet; 
	}
 }
 .ic-keyboard {
	&:before {
	  content: $ic-keyboard; 
	}
 }
 .ic-laptop-gaming {
	&:before {
	  content: $ic-laptop-gaming; 
	}
 }
 .ic-laptop {
	&:before {
	  content: $ic-laptop; 
	}
 }
 .ic-layout {
	&:before {
	  content: $ic-layout; 
	}
 }
 .ic-left-thin {
	&:before {
	  content: $ic-left-thin; 
	}
 }
 .ic-left {
	&:before {
	  content: $ic-left; 
	}
 }
 .ic-lightbulb-1 {
	&:before {
	  content: $ic-lightbulb-1; 
	}
 }
 .ic-lightbulb {
	&:before {
	  content: $ic-lightbulb; 
	}
 }
 .ic-lightning {
	&:before {
	  content: $ic-lightning; 
	}
 }
 .ic-like {
	&:before {
	  content: $ic-like; 
	}
 }
 .ic-local-shipping {
	&:before {
	  content: $ic-local-shipping; 
	}
 }
 .ic-location {
	&:before {
	  content: $ic-location; 
	}
 }
 .ic-login {
	&:before {
	  content: $ic-login; 
	}
 }
 .ic-mac-mini {
	&:before {
	  content: $ic-mac-mini; 
	}
 }
 .ic-mac-pro {
	&:before {
	  content: $ic-mac-pro; 
	}
 }
 .ic-machine {
	&:before {
	  content: $ic-machine; 
	}
 }
 .ic-mail-o {
	&:before {
	  content: $ic-mail-o; 
	}
 }
 .ic-mail {
	&:before {
	  content: $ic-mail; 
	}
 }
 .ic-map-o {
	&:before {
	  content: $ic-map-o; 
	}
 }
 .ic-map {
	&:before {
	  content: $ic-map; 
	}
 }
 .ic-material {
	&:before {
	  content: $ic-material; 
	}
 }
 .ic-megaphone {
	&:before {
	  content: $ic-megaphone; 
	}
 }
 .ic-menu {
	&:before {
	  content: $ic-menu; 
	}
 }
 .ic-minimize {
	&:before {
	  content: $ic-minimize; 
	}
 }
 .ic-minus {
	&:before {
	  content: $ic-minus; 
	}
 }
 .ic-mobile-phone {
	&:before {
	  content: $ic-mobile-phone; 
	}
 }
 .ic-mouse-pad {
	&:before {
	  content: $ic-mouse-pad; 
	}
 }
 .ic-mouse {
	&:before {
	  content: $ic-mouse; 
	}
 }
 .ic-movie {
	&:before {
	  content: $ic-movie; 
	}
 }
 .ic-new {
	&:before {
	  content: $ic-new; 
	}
 }
 .ic-pause {
	&:before {
	  content: $ic-pause; 
	}
 }
 .ic-pencil {
	&:before {
	  content: $ic-pencil; 
	}
 }
 .ic-phone {
	&:before {
	  content: $ic-phone; 
	}
 }
 .ic-phonecard {
	&:before {
	  content: $ic-phonecard; 
	}
 }
 .ic-photo {
	&:before {
	  content: $ic-photo; 
	}
 }
 .ic-picture {
	&:before {
	  content: $ic-picture; 
	}
 }
 .ic-play {
	&:before {
	  content: $ic-play; 
	}
 }
 .ic-plus {
	&:before {
	  content: $ic-plus; 
	}
 }
 .ic-power-1 {
	&:before {
	  content: $ic-power-1; 
	}
 }
 .ic-power-bank {
	&:before {
	  content: $ic-power-bank; 
	}
 }
 .ic-power-socket-2 {
	&:before {
	  content: $ic-power-socket-2; 
	}
 }
 .ic-power-socket {
	&:before {
	  content: $ic-power-socket; 
	}
 }
 .ic-power {
	&:before {
	  content: $ic-power; 
	}
 }
 .ic-print {
	&:before {
	  content: $ic-print; 
	}
 }
 .ic-printer-ink {
	&:before {
	  content: $ic-printer-ink; 
	}
 }
 .ic-projector-2 {
	&:before {
	  content: $ic-projector-2; 
	}
 }
 .ic-projector {
	&:before {
	  content: $ic-projector; 
	}
 }
 .ic-promo {
	&:before {
	  content: $ic-promo; 
	}
 }
 .ic-quote {
	&:before {
	  content: $ic-quote; 
	}
 }
 .ic-ram {
	&:before {
	  content: $ic-ram; 
	}
 }
 .ic-reload {
	&:before {
	  content: $ic-reload; 
	}
 }
 .ic-renew {
	&:before {
	  content: $ic-renew; 
	}
 }
 .ic-replay {
	&:before {
	  content: $ic-replay; 
	}
 }
 .ic-reply-all {
	&:before {
	  content: $ic-reply-all; 
	}
 }
 .ic-reply {
	&:before {
	  content: $ic-reply; 
	}
 }
 .ic-right-thin {
	&:before {
	  content: $ic-right-thin; 
	}
 }
 .ic-right {
	&:before {
	  content: $ic-right; 
	}
 }
 .ic-router {
	&:before {
	  content: $ic-router; 
	}
 }
 .ic-save {
	&:before {
	  content: $ic-save; 
	}
 }
 .ic-scales {
	&:before {
	  content: $ic-scales; 
	}
 }
 .ic-screen-size {
	&:before {
	  content: $ic-screen-size; 
	}
 }
 .ic-screenprotect {
	&:before {
	  content: $ic-screenprotect; 
	}
 }
 .ic-sd-card {
	&:before {
	  content: $ic-sd-card; 
	}
 }
 .ic-sdcard {
	&:before {
	  content: $ic-sdcard; 
	}
 }
 .ic-search {
	&:before {
	  content: $ic-search; 
	}
 }
 .ic-secondhand {
	&:before {
	  content: $ic-secondhand; 
	}
 }
 .ic-security-camera {
	&:before {
	  content: $ic-security-camera; 
	}
 }
 .ic-send {
	&:before {
	  content: $ic-send; 
	}
 }
 .ic-shave-2 {
	&:before {
	  content: $ic-shave-2; 
	}
 }
 .ic-shave {
	&:before {
	  content: $ic-shave; 
	}
 }
 .ic-software {
	&:before {
	  content: $ic-software; 
	}
 }
 .ic-speaker {
	&:before {
	  content: $ic-speaker; 
	}
 }
 .ic-spin {
	&:before {
	  content: $ic-spin; 
	}
 }
 .ic-star-half-o {
	&:before {
	  content: $ic-star-half-o; 
	}
 }
 .ic-star-half {
	&:before {
	  content: $ic-star-half; 
	}
 }
 .ic-star-o {
	&:before {
	  content: $ic-star-o; 
	}
 }
 .ic-star {
	&:before {
	  content: $ic-star; 
	}
 }
 .ic-tablet {
	&:before {
	  content: $ic-tablet; 
	}
 }
 .ic-tag {
	&:before {
	  content: $ic-tag; 
	}
 }
 .ic-tags {
	&:before {
	  content: $ic-tags; 
	}
 }
 .ic-th-list {
	&:before {
	  content: $ic-th-list; 
	}
 }
 .ic-th {
	&:before {
	  content: $ic-th; 
	}
 }
 .ic-toothbrush {
	&:before {
	  content: $ic-toothbrush; 
	}
 }
 .ic-trash-o {
	&:before {
	  content: $ic-trash-o; 
	}
 }
 .ic-trash {
	&:before {
	  content: $ic-trash; 
	}
 }
 .ic-trending-1 {
	&:before {
	  content: $ic-trending-1; 
	}
 }
 .ic-trending {
	&:before {
	  content: $ic-trending; 
	}
 }
 .ic-trophy {
	&:before {
	  content: $ic-trophy; 
	}
 }
 .ic-tryon {
	&:before {
	  content: $ic-tryon; 
	}
 }
 .ic-tv {
	&:before {
	  content: $ic-tv; 
	}
 }
 .ic-up {
	&:before {
	  content: $ic-up; 
	}
 }
 .ic-user {
	&:before {
	  content: $ic-user; 
	}
 }
 .ic-vacuum-2 {
	&:before {
	  content: $ic-vacuum-2; 
	}
 }
 .ic-vacuum {
	&:before {
	  content: $ic-vacuum; 
	}
 }
 .ic-vga {
	&:before {
	  content: $ic-vga; 
	}
 }
 .ic-video {
	&:before {
	  content: $ic-video; 
	}
 }
 .ic-watch-automatic {
	&:before {
	  content: $ic-watch-automatic; 
	}
 }
 .ic-watch-material {
	&:before {
	  content: $ic-watch-material; 
	}
 }
 .ic-watch-screen {
	&:before {
	  content: $ic-watch-screen; 
	}
 }
 .ic-watch {
	&:before {
	  content: $ic-watch; 
	}
 }
 .ic-water-resistant-1 {
	&:before {
	  content: $ic-water-resistant-1; 
	}
 }
 .ic-water-resistant {
	&:before {
	  content: $ic-water-resistant; 
	}
 }
 .ic-water {
	&:before {
	  content: $ic-water; 
	}
 }
 .ic-we {
	&:before {
	  content: $ic-we; 
	}
 }
 .ic-weight {
	&:before {
	  content: $ic-weight; 
	}
 }
 .ic-windows {
	&:before {
	  content: $ic-windows; 
	}
 }
 .ic-youtube {
	&:before {
	  content: $ic-youtube; 
	}
 }
 .ic-zoom-in {
	&:before {
	  content: $ic-zoom-in; 
	}
 }
 .ic-zoom-out {
	&:before {
	  content: $ic-zoom-out; 
	}
 }
 
 