$font-icon-family: 'icon' !default;
$font-icon-path: 'Icon' !default;

$ic-360: "\e900";
$ic-a-watch: "\e901";
$ic-adapter: "\e902";
$ic-air-purifier: "\e903";
$ic-android: "\e904";
$ic-angle-double-down: "\e905";
$ic-angle-double-left: "\e906";
$ic-angle-double-right: "\e907";
$ic-angle-double-up: "\e908";
$ic-angle-down-thin: "\e909";
$ic-angle-down: "\e90a";
$ic-angle-left-thin: "\e90b";
$ic-angle-left: "\e90c";
$ic-angle-right-thin: "\e90d";
$ic-angle-right: "\e90e";
$ic-angle-up-thin: "\e90f";
$ic-angle-up: "\e910";
$ic-antutu: "\e911";
$ic-apple-cable: "\e912";
$ic-apple-cover-1: "\e913";
$ic-apple-cover: "\e914";
$ic-apple-imac: "\e915";
$ic-apple-ipad: "\e916";
$ic-apple-iphone: "\e917";
$ic-apple-keyboard: "\e918";
$ic-apple-macbook: "\e919";
$ic-apple-mouse: "\e91a";
$ic-apple-power: "\e91b";
$ic-apple-tv: "\e91c";
$ic-apple-watch: "\e91d";
$ic-apple: "\e91e";
$ic-arrow-select: "\e91f";
$ic-bag: "\e920";
$ic-battery-charge: "\e921";
$ic-battery-full: "\e922";
$ic-battery: "\e923";
$ic-bluetooth: "\e924";
$ic-boiler: "\e925";
$ic-book: "\e926";
$ic-box: "\e927";
$ic-cable: "\e928";
$ic-calendar: "\e929";
$ic-call: "\e92a";
$ic-cam: "\e92b";
$ic-camera: "\e92c";
$ic-cancel: "\e92d";
$ic-card: "\e92e";
$ic-cart-refresh-path1: "\e92f";
$ic-cart-refresh-path2: "\e930";
$ic-cart-refresh-path3: "\e931";
$ic-cart: "\e932";
$ic-chat: "\e933";
$ic-check: "\e934";
$ic-circle-lg: "\e935";
$ic-circle-md: "\e936";
$ic-circle-sm: "\e937";
$ic-clock: "\e938";
$ic-close: "\e939";
$ic-cog: "\e93a";
$ic-cogs: "\e93b";
$ic-combined-shape: "\e93c";
$ic-compatible-devices: "\e93d";
$ic-connect: "\e93e";
$ic-cover: "\e93f";
$ic-cpu: "\e940";
$ic-crown: "\e941";
$ic-display: "\e942";
$ic-doc: "\e943";
$ic-down-min: "\e944";
$ic-down-thin: "\e945";
$ic-down: "\e946";
$ic-download: "\e947";
$ic-drive: "\e948";
$ic-edit-3: "\e949";
$ic-edit: "\e94a";
$ic-emo-happy: "\e94b";
$ic-exclamation: "\e94c";
$ic-expand: "\e94d";
$ic-export: "\e94e";
$ic-eye: "\e94f";
$ic-face: "\e950";
$ic-fado: "\e951";
$ic-fast-shipping: "\e952";
$ic-ffriend: "\e953";
$ic-filter: "\e954";
$ic-flash: "\e955";
$ic-front-camera: "\e956";
$ic-game: "\e957";
$ic-gift: "\e958";
$ic-glasses: "\e959";
$ic-guarantee-time: "\e95a";
$ic-hairdryer: "\e95b";
$ic-hdd-black: "\e95c";
$ic-hdd: "\e95d";
$ic-headphone: "\e95e";
$ic-heart-o: "\e95f";
$ic-heart: "\e960";
$ic-help: "\e961";
$ic-home: "\e962";
$ic-hotsale: "\e963";
$ic-hub: "\e964";
$ic-humidity-2: "\e965";
$ic-humidity: "\e966";
$ic-info: "\e967";
$ic-internet: "\e968";
$ic-keyboard: "\e969";
$ic-laptop-gaming: "\e96a";
$ic-laptop: "\e96b";
$ic-layout: "\e96c";
$ic-left-thin: "\e96d";
$ic-left: "\e96e";
$ic-lightbulb-1: "\e96f";
$ic-lightbulb: "\e970";
$ic-lightning: "\e971";
$ic-like: "\e972";
$ic-local-shipping: "\e973";
$ic-location: "\e974";
$ic-login: "\e975";
$ic-mac-mini: "\e976";
$ic-mac-pro: "\e977";
$ic-machine: "\e978";
$ic-mail-o: "\e979";
$ic-mail: "\e97a";
$ic-map-o: "\e97b";
$ic-map: "\e97c";
$ic-material: "\e97d";
$ic-megaphone: "\e97e";
$ic-menu: "\e97f";
$ic-minimize: "\e980";
$ic-minus: "\e981";
$ic-mobile-phone: "\e982";
$ic-mouse-pad: "\e983";
$ic-mouse: "\e984";
$ic-movie: "\e985";
$ic-new: "\e986";
$ic-pause: "\e987";
$ic-pencil: "\e988";
$ic-phone: "\e989";
$ic-phonecard: "\e98a";
$ic-photo: "\e98b";
$ic-picture: "\e98c";
$ic-play: "\e98d";
$ic-plus: "\e98e";
$ic-power-1: "\e98f";
$ic-power-bank: "\e990";
$ic-power-socket-2: "\e991";
$ic-power-socket: "\e992";
$ic-power: "\e993";
$ic-print: "\e994";
$ic-printer-ink: "\e995";
$ic-projector-2: "\e996";
$ic-projector: "\e997";
$ic-promo: "\e998";
$ic-quote: "\e999";
$ic-ram: "\e99a";
$ic-reload: "\e99b";
$ic-renew: "\e99c";
$ic-replay: "\e99d";
$ic-reply-all: "\e99e";
$ic-reply: "\e99f";
$ic-right-thin: "\e9a0";
$ic-right: "\e9a1";
$ic-router: "\e9a2";
$ic-save: "\e9a3";
$ic-scales: "\e9a4";
$ic-screen-size: "\e9a5";
$ic-screenprotect: "\e9a6";
$ic-sd-card: "\e9a7";
$ic-sdcard: "\e9a8";
$ic-search: "\e9a9";
$ic-secondhand: "\e9aa";
$ic-security-camera: "\e9ab";
$ic-send: "\e9ac";
$ic-shave-2: "\e9ad";
$ic-shave: "\e9ae";
$ic-software: "\e9af";
$ic-speaker: "\e9b0";
$ic-spin: "\e9b1";
$ic-star-half-o: "\e9b2";
$ic-star-half: "\e9b3";
$ic-star-o: "\e9b4";
$ic-star: "\e9b5";
$ic-tablet: "\e9b6";
$ic-tag: "\e9b7";
$ic-tags: "\e9b8";
$ic-th-list: "\e9b9";
$ic-th: "\e9ba";
$ic-toothbrush: "\e9bb";
$ic-trash-o: "\e9bc";
$ic-trash: "\e9bd";
$ic-trending-1: "\e9be";
$ic-trending: "\e9bf";
$ic-trophy: "\e9c0";
$ic-tryon: "\e9c1";
$ic-tv: "\e9c2";
$ic-up: "\e9c3";
$ic-user: "\e9c4";
$ic-vacuum-2: "\e9c5";
$ic-vacuum: "\e9c6";
$ic-vga: "\e9c7";
$ic-video: "\e9c8";
$ic-watch-automatic: "\e9c9";
$ic-watch-material: "\e9ca";
$ic-watch-screen: "\e9cb";
$ic-watch: "\e9cc";
$ic-water-resistant-1: "\e9cd";
$ic-water-resistant: "\e9ce";
$ic-water: "\e9cf";
$ic-we: "\e9d0";
$ic-weight: "\e9d1";
$ic-windows: "\e9d2";
$ic-youtube: "\e9d3";
$ic-zoom-in: "\e9d4";
$ic-zoom-out: "\e9d5";

