// Animated Icons
// --------------------------

.#{$ic-css-prefix}-animate {
  animation: ic-animate 2s infinite linear;
}


@keyframes ic-animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  } 
}
 