.ic-layers {
	display: inline-block;
	position: relative;
	text-align: center;
}

.ic-layers-counter {
	font-family: $font-family !important;
	background-color: $primary;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: $white;
	height: $spacing * 5;
	width: $spacing * 5;
	font-size: 12px;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	&-top-left {
		top: 0;
		left: 0;
		transform: translate(-25%, -25%);
	}
	&-top-right {
		top: 0;
		right: 0;
		transform: translate(25%, -25%);
	}
	&-bottom-left {
		bottom: 0;
		left: 0;
		transform: translate(-25%, 25%);
	}
	&-bottom-right {
		bottom: 0;
		right: 0;
		transform: translate(25%, 25%);
	}
}
