// Icon Sizes
// -------------------------
// Icon Scaling with size of parent
@for $i from 2 through 3 {
	.#{$ic-css-prefix}-#{$i}x {
		font-size: $i * 1em;
	}
}

@each $size, $detail in $icon-props {
	$font-size-inner: map-get($detail, 'size-inner');
	$font-default: map-get($detail, 'size-default');
	$width: map-get($detail, 'size-default');
	.#{$ic-css-prefix}-#{$size} {
		font-size: #{$font-default};
		&.#{$ic-css-prefix}-circle,
		&.#{$ic-css-prefix}-square {
			font-size: #{$font-size-inner};
			width: #{$width};
			height: #{$width};
		}
	}
}
