$font-icon-family: 'icon' !default;
$font-icon-path: 'Icon' !default;

$ic-360: '\e900'; 
$ic-a-watch: '\e901';
$ic-adapter: '\e902';
$ic-air-purifier: '\e903';
$ic-android: '\e904';
$ic-angle-double-down: '\e905';
$ic-angle-double-left: '\e906';
$ic-angle-double-right: '\e907';
$ic-angle-double-up: '\e908';
$ic-angle-down-thin: '\e909';
$ic-angle-down: '\e90a';
$ic-angle-left-thin: '\e90b';
$ic-angle-left: '\e90c';
$ic-angle-right-thin: '\e90d';
$ic-angle-right: '\e90e';
$ic-angle-up-thin: '\e90f';
$ic-angle-up: '\e910';
$ic-antutu: '\e911';
$ic-apple-cable: '\e912';
$ic-apple-cover-1: '\e913';
$ic-apple-cover: '\e914';
$ic-apple-imac: '\e915';
$ic-apple-ipad: '\e916';
$ic-apple-iphone: '\e917';
$ic-apple-keyboard: '\e918';
$ic-apple-macbook: '\e919';
$ic-apple-mouse: '\e91a';
$ic-apple-power: '\e91b';
$ic-apple-tv: '\e91c';
$ic-apple-watch: '\e91d';
$ic-apple: '\e91e';
$ic-arrow-select: '\e91f';
$ic-bag: '\e920';
$ic-battery-charge: '\e921';
$ic-battery-full: '\e922';
$ic-battery: '\e923';
$ic-bluetooth: '\e924';
$ic-boiler: '\e925';
$ic-book: '\e926';
$ic-box: '\e927';
$ic-cable: '\e928';
$ic-calendar: '\e929';
$ic-call: '\e92a';
$ic-cam: '\e92b';
$ic-camera-security-2: '\e92c';
$ic-camera-security: '\e92d';
$ic-camera: '\e92e';
$ic-cancel: '\e92f';
$ic-card: '\e930';
$ic-cart-refresh-path1: '\e931';
$ic-cart-refresh-path2: '\e932';
$ic-cart-refresh-path3: '\e933';
$ic-cart: '\e934';
$ic-chat: '\e935';
$ic-check: '\e936';
$ic-circle-lg: '\e937';
$ic-circle-md: '\e938';
$ic-circle-sm: '\e939';
$ic-clock: '\e93a';
$ic-close: '\e93b';
$ic-cog: '\e93c';
$ic-cogs: '\e93d';
$ic-combined-shape: '\e93e';
$ic-compatible-devices: '\e93f';
$ic-connect: '\e940';
$ic-cover: '\e941';
$ic-cpu: '\e942';
$ic-crown: '\e943';
$ic-display: '\e944';
$ic-doc: '\e945';
$ic-down-min: '\e946';
$ic-down-thin: '\e947';
$ic-down: '\e948';
$ic-download: '\e949';
$ic-drive: '\e94a';
$ic-edit-3: '\e94b';
$ic-edit: '\e94c';
$ic-emo-happy: '\e94d';
$ic-exclamation: '\e94e';
$ic-expand: '\e94f';
$ic-export: '\e950';
$ic-eye: '\e951';
$ic-face: '\e952';
$ic-fado: '\e953';
$ic-fast-shipping: '\e954';
$ic-ffriend: '\e955';
$ic-filter: '\e956';
$ic-flash: '\e957';
$ic-front-camera: '\e958';
$ic-game: '\e959';
$ic-gift: '\e95a';
$ic-glasses: '\e95b';
$ic-guarantee-time: '\e95c';
$ic-hairdryer: '\e95d';
$ic-hdd-black: '\e95e';
$ic-hdd: '\e95f';
$ic-headphone: '\e960';
$ic-heart-o: '\e961';
$ic-heart: '\e962';
$ic-help: '\e963';
$ic-home: '\e964';
$ic-hotsale: '\e965';
$ic-hub: '\e966';
$ic-humidity-2: '\e967';
$ic-humidity: '\e968';
$ic-info: '\e969';
$ic-internet: '\e96a';
$ic-keyboard: '\e96b';
$ic-laptop-gaming: '\e96c';
$ic-laptop: '\e96d';
$ic-layout: '\e96e';
$ic-left-thin: '\e96f';
$ic-left: '\e970';
$ic-lightbulb-1: '\e971';
$ic-lightbulb: '\e972';
$ic-lightning: '\e973';
$ic-like: '\e974';
$ic-local-shipping: '\e975';
$ic-location: '\e976';
$ic-login: '\e977';
$ic-mac-mini: '\e978';
$ic-mac-pro: '\e979';
$ic-machine: '\e97a';
$ic-mail-o: '\e97b';
$ic-mail: '\e97c';
$ic-map-o: '\e97d';
$ic-map: '\e97e';
$ic-material: '\e97f';
$ic-megaphone: '\e980';
$ic-menu: '\e981';
$ic-minimize: '\e982';
$ic-minus: '\e983';
$ic-mobile-phone: '\e984';
$ic-mouse-pad: '\e985';
$ic-mouse: '\e986';
$ic-movie: '\e987';
$ic-new: '\e988';
$ic-pause: '\e989';
$ic-pencil: '\e98a';
$ic-phone: '\e98b';
$ic-phonecard: '\e98c';
$ic-photo: '\e98d';
$ic-picture: '\e98e';
$ic-play: '\e98f';
$ic-plus: '\e990';
$ic-power-1: '\e991';
$ic-power-bank: '\e992';
$ic-power-socket-2: '\e993';
$ic-power-socket: '\e994';
$ic-power: '\e995';
$ic-print: '\e996';
$ic-printer-ink: '\e997';
$ic-projector-2: '\e998';
$ic-projector: '\e999';
$ic-promo: '\e99a';
$ic-quote: '\e99b';
$ic-ram: '\e99c';
$ic-reload: '\e99d';
$ic-renew: '\e99e';
$ic-replay: '\e99f';
$ic-reply-all: '\e9a0';
$ic-reply: '\e9a1';
$ic-right-thin: '\e9a2';
$ic-right: '\e9a3';
$ic-router: '\e9a4';
$ic-save: '\e9a5';
$ic-scales: '\e9a6';
$ic-screen-size: '\e9a7';
$ic-screenprotect: '\e9a8';
$ic-sd-card: '\e9a9';
$ic-sdcard: '\e9aa';
$ic-search: '\e9ab';
$ic-secondhand: '\e9ac';
$ic-security-camera: '\e9ad';
$ic-send: '\e9ae';
$ic-shave-2: '\e9af';
$ic-shave: '\e9b0';
$ic-software: '\e9b1';
$ic-speaker: '\e9b2';
$ic-spin: '\e9b3';
$ic-star-half-o: '\e9b4';
$ic-star-half: '\e9b5';
$ic-star-o: '\e9b6';
$ic-star: '\e9b7';
$ic-tablet: '\e9b8';
$ic-tag: '\e9b9';
$ic-tags: '\e9ba';
$ic-target-location: '\e9bb';
$ic-th-list: '\e9bc';
$ic-th: '\e9bd';
$ic-toothbrush: '\e9be';
$ic-trash-o: '\e9bf';
$ic-trash: '\e9c0';
$ic-trending-1: '\e9c1';
$ic-trending: '\e9c2';
$ic-trophy: '\e9c3';
$ic-tryon: '\e9c4';
$ic-tv: '\e9c5';
$ic-up: '\e9c6';
$ic-user: '\e9c7';
$ic-vacuum-2: '\e9c8';
$ic-vacuum: '\e9c9';
$ic-vga: '\e9ca';
$ic-video: '\e9cb';
$ic-watch-automatic: '\e9cc';
$ic-watch-material: '\e9cd';
$ic-watch-screen: '\e9ce';
$ic-watch: '\e9cf';
$ic-water-resistant-1: '\e9d0';
$ic-water-resistant: '\e9d1';
$ic-water: '\e9d2';
$ic-we: '\e9d3';
$ic-weight: '\e9d4';
$ic-windows: '\e9d5';
$ic-youtube: '\e9d6';
$ic-zoom-in: '\e9d7';
$ic-zoom-out: '\e9d8';


$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$ic-css-prefix:        ic !default;
$fa-version:           "5.15.3" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

