@if $enable-grid-classes {
	.container {
		@include make-container();
		// @include make-container-max-widths();
	}
	// .container-non-respond {
	// 	@include make-container-non-respond();
	// }
}

@if $enable-grid-classes {
	.row {
		@include make-row();
	}

	// Remove the negative margin from default .row, then the horizontal padding
	// from all immediate children columns (to prevent runaway style inheritance).
	.no-gutters {
		margin-right: 0;
		margin-left: 0;

		> .col,
		> .col10,
		> [class*='col-'],
		> [class*='col10-'] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}
@if $enable-grid-classes {
	@include make-grid-columns();
}
// @if $enable-grid-classes {
// 	@include make-grid-columns10();
// }
