.badge {
	display: inline-flex;
	padding: $spacing $spacing * 2;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: $border-radius;
	&,
	& * {
		font-size: 12px;
		line-height: 12px;
	}
	span {
		display: inline-block;
	}
	&-xl {
		padding: $spacing + 1 $spacing * 2;
		&,
		& * {
			font-size: 14px;
			line-height: 14px;
		}
	}
	&:empty {
		display: none;
	}

	&-rounded {
		border-radius: 100px;
	}
}

//   // Colors

@each $color, $value in $theme-block-colors {
	.badge-#{$color} {
		color: $white;
		background: $value;
	}
	.badge-grayscale {
		color: $grayscale-600;
	}
}
@each $color, $value in $theme-block-colors {
	.badge-outline-#{$color} {
		color: #{$value};
		border: 1px solid #{$value};
	}
	.badge-outline-grayscale {
		color: #{$grayscale-600};
		border: 1px solid #{$grayscale-400};
	}
}
