.breadcrumb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	$this: &;
	&-item {
		color: $grayscale-700;
		@extend .f-s-p-14;
		& + &:before {
			display: inline-block;
			margin: 0 $spacing * 2;
			color: $grayscale-400;
			font-size: 15px;
			content: '/';
		}
		&.active {
			color: $link;
		}
	}
	&-arrow {
		#{$this}-item {
			display: inline-flex;
			align-items: center;
			& + #{$this}-item {
				&:before {
					content: '\e90e';
					font-family: $font-icon-family;
					font-size: 12px;
					line-height: 12px;
				}
			}
		}
	}
	// mobile
	&-mobile {
		padding: $spacing + 2 $spacing * 2;
		background: $grayscale-100;
		$mobile: &;
		#{$this}-item {
			@extend .f-s-p-12;
			&.active,
			a {
				color: $grayscale-700;
			}
			a {
				display: inline-flex;
				align-items: center;
			}
			i {
				@extend .f-s-ui-14;
			}
			& + #{$this}-item {
				&:before {
					margin: 0 $spacing;
				}
			}
		}
		&#{$this}-arrow {
			#{$this}-item {
				& + #{$this}-item {
					&:before {
						font-size: 8px;
						line-height: 8px;
					}
				}
			}
		}
	}
}
