.btn-group {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	vertical-align: middle;
	.btn {
		margin-left: 0;
		& + .btn {
			margin-left: -1px;
		}
		&:not(:first-child),
		&:not(:last-child) {
			border-radius: 0;
		}
		&:first-child {
			border-top-left-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}
		&:last-child {
			border-top-right-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}
		&-rounded{
			&:first-child {
				border-top-left-radius: $border-radius * 25;
				border-bottom-left-radius: $border-radius * 25;
			}
			&:last-child {
				border-top-right-radius: $border-radius * 25;
				border-bottom-right-radius: $border-radius * 25;
			}
		}
	} 
}
