.form-control {
	display: block;
	width: 100%;
	padding: $input-padding-y $input-padding-x;
	font-size: $font-size-base;
	font-size: 14px;
	line-height: $input-line-height;
	color: $gray-700;
	background-color: $white;
	background-clip: padding-box;
	border: $border-width solid $gray-400;
	border-radius: $border-radius;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:focus {
		color: #495057;
		background-color: #fff;
		border-color: $blue-200;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
	&::placeholder {
		color: $gray-500;
	}
	&:disabled,
	&[readonly] {
		background-color: $gray-200;
		opacity: 1;
	}
	& ~ i {
		position: absolute;
		top: 6px;
		right: 6px;
		font-size: 20px;
	}
	&.is-valid {
		border-color: $green-500;
		& ~ i {
			color: $green-500;
		}
		& ~ .valid-feedback {
			color: $green-500;
		}
	}
	&.is-invalid {
		border-color: $red-500;
		& ~ i {
			color: $red-500;
		}
		& ~ .valid-feedback {
			color: $red-500;
		}
	}
	& ~ .valid-feedback {
		font-size: 11px;
		line-height: 16px;
		margin-top: 4px;
		margin-bottom: 10px;
	}
}
.form-group {
	margin-bottom: 1.5rem;
	position: relative;
}
select.form-control {
	height: 38px;
	&:not([size]):not([multiple]) {
		height: 38px;
	}

	&:focus::-ms-value {
		color: $gray-700;
		background-color: $white;
	}
}
textarea.form-control {
	height: auto;
}
.checkbox,
.radio {
	display: flex;
	align-items: center;
	label {
		cursor: pointer;
		font-size: 14px;
		line-height: 21px;
	}
	input {
		position: relative;
		border: none;
		margin: 0 8px 0 0;
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
        outline: none;
        &:disabled ~ label {
            color: $text-muted;
            pointer-events: none;
		}
	}
}
.checkbox {
	input[type='checkbox'] {
		&:before {
			content: '';
			position: absolute;
			top: 1.5px;
			left: 6px;
			display: table;
			width: 5px;
			height: 11px;
			border: 2px solid #fff;
			border-top-width: 0;
			border-left-width: 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			content: '';
			display: block;
			width: 16px;
			height: 16px;
			border: 1px solid #97a3b9;
			border-radius: 4px;
			-webkit-transition: 240ms;
			-o-transition: 240ms;
			transition: 240ms;
        }
		&:disabled::after {
			background: #e3e7ed;
		}
		
		&:disabled::before {
			border-color: transparent;
		}
		&:checked::after {
			background-color: $red-500;
			border-color: $red-500;
			outline: none;
		}
		&:disabled:checked::before {
			border-color: #fff;
			z-index: 2;
			opacity: 0.6;
		}
		&:disabled:checked::after {
			opacity: 0.6;
		}
	}
}
.radio {
	input[type='radio'] {
		&:after,
		&:before {
			content: '';
			display: block;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			-webkit-transition: 240ms;
			-o-transition: 240ms;
			transition: 240ms;
		}
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			background-color: $white;
			-webkit-transform: scale(0);
			-ms-transform: scale(0);
			-o-transform: scale(0);
			transform: scale(0);
		}
		&:after {
			position: relative;
			top: 0;
			border: 1px solid #97a3b9;
			background: #fff;
		}
		&:disabled::after {
			background: #e3e7ed;
		}
		&:checked::before {
			-webkit-transform: scale(0.5);
			-ms-transform: scale(0.5);
			-o-transform: scale(0.5);
			transform: scale(0.5);
			z-index: 2;
		}
		&:checked:after {
			border: 1px solid $red-500;
			background: $red-500;
		}
		&:checked:disabled:after {
			border: 1px solid #97a3b9;
			background: #e3e7ed;
		}
	}
}
