.list {
	$this: &;
	&-group {
		display: list-item;
		li {
			margin-bottom: $spacing;
			position: relative;
			color: $grayscale-700;
			@extend .f-w-400;
		}
	}
	&-lg {
		li {
			@extend .f-s-p-18;
		}
	}
	&-md {
		li {
			@extend .f-s-p-16;
		}
	}
	&-sm {
		li {
			@extend .f-s-p-14;
		}
	}
	// style
	&-bullet {
		li {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				background: $grayscale;
				border-radius: 50%;
			}
		}
		&#{$this}-lg {
			li {
				padding-left: 14px;
				&:before {
					width: 6px;
					height: 6px;
				}
			}
		}
		&#{$this}-md {
			li {
				padding-left: 14px;
				&:before {
					width: 6px;
					height: 6px;
				}
			}
		}
		&#{$this}-sm {
			li {
				padding-left: 8px;
				&:before {
					width: 4px;
					height: 4px;
				}
			}
		}
	}
	&-number {
		list-style-type: none;
		counter-reset: section;
		&::marker {
			display: none;
		}
		li {
			position: relative;
			counter-increment: section;
			&:before {
				content: counter(section) '.';
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&#{$this}-lg {
			li {
				padding-left: 23px;
			}
		}
		&#{$this}-md {
			li {
				padding-left: 22px;
			}
		}
		&#{$this}-sm {
			li {
				padding-left: 16px;
			}
		}
	}
	&-alphabet {
		list-style-type: none;
		counter-reset: section;
		li {
			position: relative;
			counter-increment: section;
			&:before {
				content: counter(section, lower-alpha) '.';
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&#{$this}-lg {
			li {
				padding-left: 23px;
			}
		}
		&#{$this}-md {
			li {
				padding-left: 22px;
			}
		}
		&#{$this}-sm {
			li {
				padding-left: 16px;
			}
		}
	}
}
