h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: inherit;
	font-weight: 500;
	color: $headings-color;
}

h1 {
	@include textType(32px, 40px);
}
h2 {
	@include textType(24px, 32px);
	@include respond(md) {
	}
}
h3 {
	@include textType(16px, 20px);
}
h4,
h5,
h6 {
	@include textType(14px, 20px);
}

p,
.text {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
code {
	font-size: 87.5%;
	color: $primary;
	word-break: break-word;
}
// font weight
$fws: 400, 500, 700;

@mixin font-weight($className, $styleName) {
	@each $fw in $fws {
		#{$className + $fw} {
			#{$styleName}: #{$fw};
		}
	}
}
@include font-weight('.f-w-', 'font-weight');

// font size
$fsPosts: (
	'12': '16',
	'13': '18',
	'14': '20',
	'15': '20',
	'16': '24',
	'18': '24',
	'20': '28',
	'24': '32',
	'28': '36',
	'32': '40',
	'36': '48',
	'44': '60',
);
$fsUIs: ('12', '13', '14', '15', '16', '18', '20', '24', '28', '32', '36', '44');
@each $fs, $lh in $fsPosts {
	.f-s-p-#{$fs} {
		font-size: #{$fs + 'px'};
		line-height: #{$lh + 'px'};
	}
}
@each $fsUI in $fsUIs {
	.f-s-ui-#{$fsUI} {
		font-size: #{$fsUI + 'px'};
		line-height: #{$fsUI + 'px'};
	}
}
