.u-flex {
	display: flex;
}
.u-flex-inline {
	display: inline-flex;
}
.u-flex-column {
	flex-direction: column;
}
.u-flex-align-center {
	align-items: center;
}
.u-flex-justify-center {
	justify-content: center;
}
.u-flex-justify-between {
	justify-content: space-between;
}
.u-flex-1 {
	flex: 1;
}
